asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.3.2
dj-database-url==3.1.0
Django==5.1.4
django-cors-headers==4.3.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.2
gunicorn==23.0.0
idna==3.7
PyJWT==2.8.1
python-decouple==3.8
requests==2.31.0
sqlparse==0.4.4
urllib3==2.1.0
whitenoise==6.6.0
psycopg2-binary==2.9.11
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
PyJWT==2.10.1
pyparsing==3.2.5
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.0
pytz==2025.2
PyYAML==6.0.3
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9.1
scapy==2.7.0
scipy==1.16.2
sentencepiece==0.2.1
six==1.17.0
sounddevice==0.5.2
SQLAlchemy==2.0.46
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
Werkzeug==2.3.7
whitenoise==6.11.0